* {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* html {
    overflow-y: scroll;
} */
:root {
    overflow-x: auto;
    overflow-y: hidden;
}
:root body {
    position: absolute;
}
body {
    background: url("./bk.jpg") fixed;
    width: 100vw;
    overflow: hidden;
    /* background: linear-gradient(90deg,#0fa,#036); */
}
.img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.share {
    padding: 120px 0 0 0 ;
    /* box-shadow: 0 0 1px #cd0000; */
}
.share__container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* position: absolute; */
    font-size: 0;
    /* box-shadow: 0 0 1px #000; */
}
::-webkit-scrollbar {
    /* width: 0;
    height: 0;
    visibility: hidden; */
}
.share-wrap {
    display: inline-block;
}
.share__item:link,
.share__item:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,.3);
    /* border: 1px solid #fff; */
    box-shadow: 0 0 0 1px #fff;

    /* margin-bottom: 15px; */
}
.share__img-box {
    width: 510px;
} 
.share__item__info {
    text-align: center;
    line-height: 3;
    font-size: 21px;
}
