* {
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    background: url("./bk.jpg");
}
.img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.share {
    padding: 60px 0px;
    box-shadow: 0 0 1px #cd0000;
}
.share__container {
    max-width: 1200px;
    min-width: 960px;
    margin: 0 auto;
    overflow:hidden;
    font-size: 0;
    box-shadow: 0 0 1px #000;
}
.share-wrap {
    display: inline-block;
    vertical-align: top;

}
.share-wrap:nth-child(2) {
    margin: 0 calc((100% - 900px) / 2);
}
.share__item:link,
.share__item:visited {
    display: block;
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,.3);
    /* border: 1px solid #fff; */
    box-shadow: 0 0 0 1px #fff;

    margin-bottom: 15px;
}
.share__item__img-box {
 
} 
.share__item__txt {

}
.share__item__info {
    text-align: center;
    line-height: 3;
    font-size: 21px;
}
