.banner {
    padding: 20rem 0;
    margin: 6rem 9%;
    background: #0000cd;
    background: url("../../img/banner/banner.jpg") no-repeat center top / 100%;

    &-m {
        padding: 9rem 9%;
        background: $color-gray;

        > .paragraph {
            font-size: 1.6rem;
            line-height: 1.5;
            letter-spacing: .05rem;
            color: rgba($color-black,.6);
            > a {
                color: $color-primary;
            }
        }
    }
}