.header {
    padding: 3rem 9%;
    min-width: 120rem;
    overflow: hidden;

    &__logo-box {
        float: left;
    }

    &__logo {
        &:link,
        &:visited {
            text-decoration: none;
            font-size: 5.7rem;
            font-weight: 700;
            color: $color-primary;
        }
    }


    &__nav {
        position: relative;
        padding: .7rem 0;
        max-width: 60rem;
        margin: 0 0 0 auto;

        &::before {
            content: '';
            position: absolute; bottom: 0; top: 0; left: -6px;
            width: 0;
            padding: 0 .1rem;
            background: $color-gray;
        }

        > a {
            &:link,
            &:visited {
                display: inline-block;
                padding: 1.8rem 2.1rem;
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: 700;
                color: $color-primary;

                &.choose {

                    color: $color-white;
                    background: $color-primary;
                }
            }
        }
    }
}