.home-box {
    @include center-position;
    background-color: $color-secondary-dark;
    
    width: 36rem;
    height: 36rem;
    
    box-shadow: 0 0 3.6rem 1.2rem rgba($color-secondary-light,.6);
    border-radius: 50%;
    border: 1.5px solid $color-secondary-light;
    
    
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        @include center-position;
    }

    &__item {
        display: block;
        font-size: 3.6rem;
        text-align: center;
        transition: all .6s;


        &:not(:last-child) {
            margin-bottom: 1.5rem; 
        }


        &:nth-child(odd) {
            &:hover,
            &:active {
                transform: translateX(-15px);
            }
        }

        &:nth-child(even) {
            &:hover,
            &:visited {
                transform: translateX(15px);
            }
        }
    }

    &__link {
        &:link,
        &:visited    {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: $color-white;

            background: linear-gradient(120deg,transparent 50%,#fff 50%);
            background-size: 300%;

            transition: all .6s;
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-secondary-dark;
        }
    }
}