.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        position: fixed;
        top:2.4rem;
        right: 2.4rem;
        border-radius: 50%;
        box-shadow: 0 .6rem 1.5rem 0 rgba($color-black,.45);

        width: 7.5rem;
        height: 7.5rem;
        background-color: $color-white;
        z-index: 500;

        cursor: pointer;
    }

    &__icon {
        position: relative;
        top: 39%;
        left : 50%;
        transform: translate(-50%,-50%);

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3.3rem;
            height: 3px;
            background-color: $color-black;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            
            transition:all .3s;
        }
        &::before {
            top: -.9rem;
        }
        &::after {
            top: .9rem; 
        }
    }

    &__button:hover &__icon::before {
        top: -1.2rem;
    }
    &__button:hover &__icon::after {
        top: 1.2rem;
    }

    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;

        z-index: 400;


        opacity: 0;
        width: 0;
        // overflow: hidden;
        visibility: hidden;
        transition: all .9s;
    }

    &__background {
        position: fixed;
        top: 3rem;
        right: 3rem;

        width: 6rem;
        height: 6rem;
        background: radial-gradient($color-primary,$color-primary-dark);
        border-radius: 50%;
        z-index: 300;

        transition: all .6s;
    }

    &__list {
        list-style: none;

        @include center-position;
    }

    &__item {
        display: block;
        font-size: 3.6rem;
        margin-bottom: 2.7rem;
        text-align: right;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;

            padding: .9rem 1.2rem;
            color: $color-white;
            letter-spacing: .3rem;
            
            background: linear-gradient(120deg,transparent 0%,transparent 50%,$color-white 50%);
            background-size: 300%;
            
            transition: all .6s;
        }
        &:hover,
        &:active {
            color: $color-primary;
            background-position: 100%;
            transform: translateX(1.2rem);

        }
    }

    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }
    &__checkbox:checked ~ &__button &__icon {
        background-color: transparent;
    }
    &__checkbox:checked ~ &__button &__icon::before {
        top: 0;
        transform: rotate(-135deg);
    }
    &__checkbox:checked ~ &__button &__icon::after {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked ~ &__nav {
        width: 100%;
        opacity: 1;
        visibility: visible;
    }

}