.header {
    
    background-color: $color-primary;
    border-bottom: 3px solid $color-white;
    padding: 3rem 0;

    &__wrap {
        position: relative;
        width: 960px;
        margin: 0 auto;
        @include clearfix;
    }

    &__logo-box {
        width: 364px;
        height: 62px;
        float: left;
    }

    &__logo {
        width: 100%;
        height: 100%;
    }

    &__nav {
        // position: absolute;
        // right: 0;
        // bottom: 0;
        margin-top: 30px;;
        float: right;
    }
}