* {
    padding: 0;
    margin: 0;
    list-style: none;
}
:root {
    overflow-y: scroll;
}
:root {
    overflow-x: hidden;
    overflow-y: auto;
}
:root body{
    position: absolute;
}
body {
    width: 100vw;
    height: 100vh;
}
.primary-sub {

}


.banner {
    height: 100vh;
}
.banner-container {
    height: 100%;
    display: flex;
}
.banner-wrap {
    flex: 1;
    text-align: center;
    /* line-height: 100vh; */
    display: flex;
    flex-direction: column;
    position: relative;

    transition: flex .6s  cubic-bezier(0.61,-0.19, 0.7,-0.11);
}
.banner-wrap:nth-child(1) {
    background: url("./img/img_1.jpg") no-repeat 60% center / cover;
}
.banner-wrap:nth-child(2) {
    background: url("./img/img_2.jpg") no-repeat 54% center / cover;
}
.banner-wrap:nth-child(3) {
    background: url("./img/img_3.jpg") no-repeat center center / cover;
}
.banner-wrap:nth-child(4) {
    background: url("./img/img_4.jpg") no-repeat 39% center / cover;
}
.banner-wrap:nth-child(5) {
    background: url("./img/img_5.jpg") no-repeat 42% center /cover;
}

.banner__btn:link,.banner__btn:visited {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    margin: auto;
    position: absolute;
    left:0;
    right: 0;

    opacity: 0;
    transition: all .15s;
}
.banner__btn:nth-child(1) {
    /* transform: translateY(-3em); */
    /* margin: 0 0 auto; */
    top: 0px;
}
.banner__btn:nth-child(3) {
    bottom: 0px;
    /* margin: auto 0 0; */
}

.banner__title {
    letter-spacing: 12px;
    color: #fff;
    margin: auto;
}

.click {
    flex: .45;
}
.afterclick,.open {
    flex: 3;
}

/* .banner-wrap:hover .banner__btn:nth-child(1){
    top: 90px;
}
.banner-wrap:hover .banner__btn:nth-child(3){
    bottom: 90px;
}
.banner-wrap:hover .banner__btn{
    opacity: 1;
} */
.banner__btn--show {
    opacity: 1;
}
.banner__btn--firstPosition {
    top: 90px;
}
.banner__btn--lastPosition {
    bottom: 90px;
}
.banner-wrap.open--active > :first-child {
    top: 90px;
    opacity: 1;
}
.banner-wrap.open--active > :last-child {
    bottom: 90px;
    opacity: 1;
}
/* .banner-wrap:hover {
    flex: 3;
} */
