$color-white: #fff;
$color-black: #000;

$color-grey:#aaa;
$color-grey-dark:#666;
$color-grey-dark2: #333;
$color-grey-light:#eee;

$color-primary: rgb(88, 97, 78);

$color-intro: #57614e;
$color-intro-sec: #728063;
$color-nav: #b8c6ac;
$color-p:#626262;