.heading-primary {
    font-size: 5.1rem;
    font-weight: 800;
    letter-spacing: .3rem;
}
.heading-tertiary {
    font-size: 2.7rem;
    font-weight: 600;
}
.heading-forth {
    font-size: 2.1rem;
}