.header {
    
    background-color: rgba($color-black,.3);
    &__wrap {
        display: flex;
        justify-content: space-around;
        width: 50%;
        height: 60px;
        margin: 0 auto;
    }
    &__logo-box {
        width: 304px;
        height: 60px;
    }

    &__logo {
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }

}