.navigation {

    &__list {
        list-style: none;
        font-size: 0;
    }

    &__item {
        display: inline-block;
        // position: relative;
        // top: 0.3rem;
        text-align: center;
        font-size: 2.1rem;
    }
    
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            padding: 1.8rem 1.2rem 1.5rem;
            
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            color: $color-white;

            &:hover,
            &:active {
                background-color: #aa3366;
            }
        }
    }
}