$color-primary: #f67c78;
$color-primary-dark: #e85d48;
$color-sub: #e4c65d;
$color-sub-dark: #e2ad1c;


$color-card-b: #79c4ca;
$color-card-b-dark: #57aead;
$color-card-c: #abc269;
$color-card-c-dark: #809944;


$color-black: #000;
$color-gray: #f3f3f3;
$color-white: #fff;