.section__title {
    &-txt {
        text-align: center;

    }

    &__heading {
        color: $color-primary-rose;
        font-size: 45px;
        font-weight: 400;

    }
    &__info {
        color: #999;
        padding: 0 21%;
        font-size: 21px;
        margin: 30px 0;
    }
}