* {
    padding:0;
    margin: 0;
    list-style: none;
}
.primary-main {
    font-size: 60px;
    font-weight: 400;
}
.heading-fourth {
    font-size: 27px;
    font-weight: 400;
}





/* header */
.header{
    padding: 15px 18px;

    display: flex;
    /* justify-content: space-between; */
}
.header__Author {
    margin: auto 0;
    cursor: pointer;
}
.header__Author:hover > small {
    color: #0af;
    transition: all .3s;
}
.header__Author:hover > small:nth-child(1) {
    transition: all .3s .6s;
}

.header__Author small {
    font-size: 21px;
}

.header__navigation {
    margin: auto 0 auto auto;
    /* overflow: hidden; */
    /* padding: 30px; */

    font-size: 0;   
}
.header__navigation__item {
    /* float: left; */
    

    display: inline-block;
    padding: 0 30px;
    position: relative;

}
.header__navigation__item:nth-child(1) > .header__navigation__option {
    padding-bottom: .3em;
    border-bottom: 1.5px solid #069;
}
.header__navigation__item:hover > ul {
    opacity: 1;
    visibility: visible;
}
.header__navigation__option:link,
.header__navigation__option:visited{
    font-size: 21px;
    text-decoration: none;
    color: #555;
    
    position: relative;
    transition: all .6s;
    /* padding-bottom: .3em;
    border-bottom: 1.5px solid #069; */
}


.header__navigation__option:hover {
    color: #07a;
}

.header__navigation__option::after {
    content: '';
    position: absolute;
    bottom: -.3em;
    left: 0;
    right: 0;

    /* height: 1px;
    background-color: #069; */

    /* border-bottom: 1.5px solid #069; */

    /* padding: 1px 0;
    background-color: #069; */
}

.header__navigation__SecondaryFloor {
    position: absolute;
    right: 30px;
    left: -42px;
    top: 100%;
    /* margin: -15px 0px 0 0; */
    margin-top: -15px;
    /* box-shadow: 0 0 0 1px #999; */
    border: 1px solid #999;
    border-radius: 12px;
    text-align: left;
    background: #fff;

    opacity: 0;
    visibility: hidden;
    /* display: none; */
    transition: all .3s;
}
/* .header__navigation__SecondaryFloor::after {
    content: '';
    position: absolute;
    top: -24px;
    right: 6px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
} */
.header__navigation__SecondaryFloor::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: -7.2px;
    right: 12px;
    background: #fff;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    transform: rotate(45deg);
}
.header__navigation__SecondaryFloor__item {
    display: block;
    /* padding: 12px 0; */
    /* margin: 12px 0; */
    position: relative;
}
.header__navigation__SecondaryFloor__item + .header__navigation__SecondaryFloor__item::before {
    content: '';
    position: absolute;
    left: 0; 
    right: 0;
    height: 1px;
    background: #ccc;
}
.header__navigation__SecondaryFloor__option:link,
.header__navigation__SecondaryFloor__option:visited{
    display: block;
    text-decoration: none;
    color: #555;
    font-size: 21px;
    padding: 12px 0 12px 12px;
}
.header__navigation__SecondaryFloor__option:hover {
    color: #0af;
}



/* banner-background */
.banner-bk {
    position: fixed;
    /* top: -30px; */
    /* bottom: -120px; */
    top:-30px;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    opacity: .3;
    z-index: -1;
}
.banner-bk__video {
    object-fit: cover;
}


/* banner */
.banner {
    padding: 90px 0 0;
}
.banner__txt {
    width: 600px;
    margin: auto;
    text-align: center;
    /* padding: 30px 36%; */
}
.banner__txt h1 {
    line-height: 1.2;
}
.banner__txt p {
    font-size: 30px;
    color: #333;
    padding: 30px 0;
}
.btn:link,.btn:visited {
    text-decoration: none;
    color: #0af;
    display: inline-block;
    padding: 12px 42px;
    font-size: 24px;
    border-radius: 30px;
    /* border: 3px solid #0af; */
    box-shadow: 0 0 0 3px #0af;
}
.btn:hover {
    background: linear-gradient(115deg,rgba(0, 102, 153,.15),rgba(0, 170, 255,.15));
}


/* banner__feature */
.banner__feature {
    background: rgba(255,255,255,.6);
    padding: 90px 0;
    margin-top: 150px;
}
.banner__feature__container {
    min-width: 960px;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
}
.banner__feature__item {
    width: 0;
    flex: 1;
    margin: 0 auto;
    text-align: center;
    padding: 12px 21px;
}
.banner__feature__item__icon i {
    font-size: 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    line-height: 90px;
    color: #09f;
    border: 3px solid #09f;
    /* box-shadow: 0 0 3px #069; */
}
.banner__feature__item p {
    font-size: 18px;
}
.banner__feature__item h3 {
    margin: 15px 0;
}



.section {
    /* padding: 120px 0; */
    background: #fff;
    height: 1000px;
}

