* {
    padding:0;
    margin: 0;
    list-style: none;
}
.primary-main {
    font-size: 60px;
    font-weight: 400;
}
.header__container {
    position: relative;
    /* padding: 210px 0; */
    padding: 210px 0 120px;
    text-align: center;
    /* padding-bottom: 600px; */
}
.header-bk {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */


    position: fixed;
    top: 0;
    overflow: hidden;
    opacity: .3;
    z-index: -1;
}
.header-bk__video {
    object-fit: cover;
}


.Author {
    margin: 0 auto 0 0;
    cursor: pointer;
}
.Author:hover > small {
    color: #0af;
    transition: all .3s;
}
.Author:hover > small:nth-child(1) {
    transition: all .3s .6s;
}

.Author small {
    font-size: 21px;
}
.header__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 18px;

    display: flex;
    /* justify-content: space-between; */
}
.header__list {
    margin: 0 0 0 auto;
    /* overflow: hidden; */
    /* padding: 30px; */

    font-size: 0;
}
.header__list__item {
    /* float: left; */
    

    display: inline-block;
    padding: 0 30px 30px;
    position: relative;

}
.header__list__item:nth-child(1) > .header__list__option {
    padding-bottom: .3em;
    border-bottom: 1.5px solid #069;
}
.header__list__item:hover > ul {
    opacity: 1;
    visibility: visible;
}
.header__list__option:link,
.header__list__option:visited{
    font-size: 21px;
    text-decoration: none;
    color: #555;
    
    position: relative;
    transition: all .6s;
    /* padding-bottom: .3em;
    border-bottom: 1.5px solid #069; */
}


.header__list__option:hover {
    color: #07a;
}

.header__list__option::after {
    content: '';
    position: absolute;
    bottom: -.3em;
    left: 0;
    right: 0;

    /* height: 1px;
    background-color: #069; */

    /* border-bottom: 1.5px solid #069; */

    /* padding: 1px 0;
    background-color: #069; */
}

.header__list__SecondaryFloor {
    position: absolute;
    right: 30px;
    left: -42px;
    top: 100%;
    /* margin: -15px 0px 0 0; */
    margin-top: -15px;
    /* box-shadow: 0 0 0 1px #999; */
    border: 1px solid #999;
    border-radius: 12px;
    text-align: left;
    background: #fff;

    opacity: 0;
    visibility: hidden;
    /* display: none; */
    transition: all .3s;
}
/* .header__list__SecondaryFloor::after {
    content: '';
    position: absolute;
    top: -24px;
    right: 6px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
} */
.header__list__SecondaryFloor::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: -7.2px;
    right: 12px;
    background: #fff;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    transform: rotate(45deg);
}
.header__list__SecondaryFloor__item {
    display: block;
    /* padding: 12px 0; */
    /* margin: 12px 0; */
    position: relative;
}
.header__list__SecondaryFloor__item + .header__list__SecondaryFloor__item::before {
    content: '';
    position: absolute;
    left: 0; 
    right: 0;
    height: 1px;
    background: #ccc;
}
.header__list__SecondaryFloor__option:link,
.header__list__SecondaryFloor__option:visited{
    display: block;
    text-decoration: none;
    color: #555;
    font-size: 21px;
    padding: 12px 0 12px 12px;
}
.header__list__SecondaryFloor__option:hover {
    color: #0af;
}

.header__txt {
    width: 600px;
    margin: auto;

    /* padding: 30px 36%; */
}
.header__txt h1 {
    line-height: 1.2;
}
.header__txt p {
    font-size: 30px;
    color: #333;
    padding: 30px 0;
}
.btn:link,.btn:visited {
    text-decoration: none;
    color: #0af;
    display: inline-block;
    padding: 12px 42px;
    font-size: 24px;
    border-radius: 30px;
    /* border: 3px solid #0af; */
    box-shadow: 0 0 0 3px #0af;
}
.btn:hover {
    background: linear-gradient(115deg,rgba(0, 102, 153,.15),rgba(0, 170, 255,.15));
}

.section {
    /* padding: 120px 0; */
    background: #fff;
    height: 1000px;
}

/* banner__feature */
.banner__feature {

}
.banner__feature__item {
    
}
