*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.header {
    padding: 27px 0;
    background: linear-gradient(-135deg,#fff,#036);
}
.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.header__logo-box {
    width: 50px;
    height: 50px;   
    order: 3;
}
.logo {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    /* margin: 0 auto; */
}
.header__nav a:link,.header__nav a:visited {
    font-size: 18px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 0 12px;
    transform: translateY(0px);

    transition: all .3s;
}
.header__form {
    display: flex;
}
.header__form input[type="search"],.header__form button  {
    border: none;
    background: #fff;
    padding: 3px 6px;
}
.header__form button {
    border-radius: 0 200px 200px 0;
}


.header__form input[type="search"] {
    border-radius: 200px 0 0 200px  ;
}
.header__form input[type="search"]:focus {
    outline: none;
}

.header__nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    /* width: 100%; */
    bottom: -6px;
    height: 0;
    border-bottom: 1px solid #fff;

    transition: all .3s;
}
.header__nav a:hover{
    transform: translateY(-6px);
}
.header__nav a:hover::after {
    left: 0;
    right: 0;
}
.header__nav a:nth-child(1) {
    order: 1;
}
.header__nav a:nth-child(2) {
    order: 2;
}
.header__nav a:nth-child(3) {
    order: 4;
}
.header__nav a:nth-child(4) {
    order: 5;
}
