$color-grey-dark: #777;
$color-grey-dark2: #999;

$color-black: #000;
$color-white: #fff;

$color-primary: #f3862d;
$color-primary-dark:#ee711d;
$color-primary-light: #ffa632;

$color-secondary: #00aaaa;
$color-secondary-dark: #009999;
$color-secondary-light: #00e9e9;

$color-note-background: #afafafb6;
$color-note-background-dark: rgba(216, 216, 216, 0.714);


$color-header-text: #d84878;
$color-header-text-dark: #b8305d;
$color-note-list: #b1b1b15e


