html {
  font-size: 62.5%; }

.heading-primary {
  font-size: 6rem;
  font-weight: 600; }

.heading-secondary {
  font-size: 3rem;
  font-weight: 300; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem; }

.u-margin-bottom-big {
  margin-bottom: 3.6rem; }

.button:link, .button:visited {
  padding: .9rem 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.1rem; }

.button__blue:link, .button__blue:visited {
  background-color: #0033aa;
  color: #ffff00;
  transition: all .6s; }

.button__blue:hover, .button__blue:active {
  background-color: #ffff00;
  color: #0033ff; }

.title-img {
  position: relative;
  display: inline-block;
  margin-left: 3px;
  left: 30px;
  width: 24px;
  height: 24px;
  background-color: #003366; }
  .title-img::before {
    content: '';
    position: absolute;
    top: -24px;
    width: 24px;
    height: 24px;
    background-color: #003366;
    border-radius: 24px  0 0 0; }
  .title-img::after {
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 15px 0 0 0; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffcc00;
  padding: 3rem; }
  .header__logo {
    display: inline-block;
    margin-left: 24rem;
    font-size: 2.7rem;
    font-weight: 800; }
    .header__logo a {
      color: #000; }
  .header-nav {
    display: inline-block; }
  .header__list {
    font-size: 0; }
  .header__item {
    display: inline-block;
    font-size: 2.1rem; }
  .header__link:link, .header__link:visited {
    padding: 1.2rem 3rem;
    text-decoration: none;
    color: #000;
    transition: all .6s; }
  .header__link:hover, .header__link:active {
    color: #0000ff; }
  .header__phone {
    display: inline-block;
    margin-left: 15rem;
    font-size: 2.7rem;
    color: #000; }

.title {
  width: 100%;
  padding: 12rem 0;
  margin: 8.1rem auto 0;
  background-image: url("../img/title.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0%;
  background-size: cover; }
  .title__wrap {
    margin: 0 0 3rem 24rem; }
  .title__text-box {
    margin: 3rem 0 9rem;
    text-transform: uppercase;
    color: #fff; }
  .title__info {
    font-size: 1.8rem;
    margin-bottom: 1.2rem; }
  .title__phone {
    font-size: 6rem; }

.section {
  padding: 6rem 0;
  max-width: 960px;
  width: 100%;
  margin: 0 auto; }

.service {
  background-color: #0066ee;
  padding: 6rem 0;
  text-align: center;
  font-size: 0;
  color: #fff; }
  .service__wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; }
  .service__item {
    font-size: 1.5rem;
    width: 240px;
    display: inline-block; }
  .service__logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 auto 1.2rem; }
  .service__link:link, .service__link:visited {
    font-size: 1.8rem;
    text-decoration: none;
    color: #eeee00; }

.who {
  color: #fff;
  text-align: center; }
  .who__title {
    color: #eeee00;
    text-transform: uppercase; }
  .who__intro {
    font-size: 1.8rem; }

.customer {
  background-color: #fff; }
  .customer h1 {
    text-align: center;
    color: #003366; }
  .customer .group {
    position: relative;
    margin-top: 6rem;
    width: 450px; }
  .customer .wrap {
    position: absolute;
    top: -15px;
    left: -120px; }
  .customer__intro {
    font-size: 1.8rem; }
  .customer__link:link, .customer__link:visited {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: #006699;
    text-align: right; }
  .customer_1 {
    top: 21px;
    margin-left: 54%; }
  .customer_2 {
    margin-left: 15%; }

.contact {
  background-color: #004466;
  padding: 12rem 0; }
  .contact h1 {
    color: #00aaee;
    text-align: center;
    text-transform: uppercase; }
  .contact .group {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding: 1.5rem 0;
    height: 150px;
    color: #fff; }
    .contact .group h2 {
      text-transform: uppercase; }
  .contact__info {
    font-size: 1.5rem; }
  .contact .form {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    .contact .form input {
      display: block;
      margin: 0 auto 1rem;
      width: 520px;
      height: 30px; }
      .contact .form input:last-child {
        height: 300px; }

.footer {
  background-color: #fff;
  padding: 3rem 0;
  text-align: center; }
  .footer__info {
    font-size: 2.4rem; }
