html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  overflow-y: scroll; }

:root {
  overflow-y: auto;
  overflow-x: hidden; }
  :root body {
    position: absolute; }

body {
  width: 100vw;
  overflow: hidden; }

section {
  padding: 3rem 0; }

.header-space {
  padding-top: 10rem; }

section {
  padding: 12rem 0; }

.heading-primary {
  font-size: 4.5rem;
  font-weight: 700; }

.heading-secondary {
  font-size: 3rem;
  font-weight: 700; }

.heading-thread {
  font-size: 2.1rem;
  font-weight: 700; }

.heading-fourth {
  font-size: 1.8rem;
  font-weight: 500; }

.u-margin-b-mid {
  margin-bottom: 2.4rem; }

.u-margin-b-big {
  margin-bottom: 4.5rem; }

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  padding: 3rem 6rem;
  box-shadow: 0 1px 3px 1px rgba(114, 122, 130, 0.3);
  background: #fff;
  text-align: center; }
  .header::after {
    content: '';
    display: block;
    clear: both; }
  .header__menu {
    padding: .3rem 0;
    height: .45rem;
    width: 2.4rem;
    border-top: .3rem solid;
    border-bottom: .3rem solid;
    border-color: #767d85;
    background: #767d85;
    background-clip: content-box;
    cursor: pointer;
    margin: 1rem  0;
    float: left; }
    .header__menu.open > nav {
      transform: translateX(0); }
    .header__menuNav {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 6rem 3rem;
      background: #25a2c3;
      transform: translateX(-100%);
      text-align: left;
      cursor: initial; }
      .header__menuNav > a:link, .header__menuNav > a:visited {
        position: relative;
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1.8rem 0;
        padding-right: 15rem; }
        .header__menuNav > a:link:not(:last-child)::after, .header__menuNav > a:visited:not(:last-child)::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 0;
          padding: .05rem 0;
          background: #fff; }
      .header__menuNav::after, .header__menuNav::before {
        content: '';
        position: absolute;
        right: 3rem;
        top: 3rem;
        width: 0.3rem;
        height: 1.8rem;
        background: #fff;
        cursor: pointer; }
      .header__menuNav::before {
        transform: rotateZ(45deg); }
      .header__menuNav::after {
        transform: rotateZ(-45deg); }
  .header__logo:link, .header__logo:visited {
    text-decoration: none;
    font-size: 3.6rem;
    font-family: 'Pacifico', cursive;
    color: #f6755e; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #767d85; }

.btn--login:link, .btn--login:visited {
  position: relative;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 0 3rem;
  line-height: 2;
  background: #fff;
  box-shadow: 0 0 0 1px #767d85;
  border-radius: 6px;
  float: right; }

.btn--login:hover {
  background: rgba(144, 144, 144, 0.07); }

.btn--primary:link, .btn--primary:visited {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 0 6rem;
  line-height: 3;
  background: #f6755e;
  border-radius: 6px; }

.banner {
  padding: 24rem 0;
  background: url("../../img/banner/banner.jpg") no-repeat center center; }
  .banner__txt {
    text-align: center;
    margin: 0 25%; }
    .banner__txt__title {
      color: #25a2c3; }
      .banner__txt__title + p {
        font-size: 2.1rem;
        line-height: 1.5;
        margin: 3rem 0;
        color: #767d85; }
  .banner-m {
    text-align: center;
    color: #fff;
    background: #f6755e;
    padding: 6rem 0; }
    .banner-m > p {
      font-size: 1.5rem;
      color: #fcdcd6;
      margin: 3rem 25%;
      line-height: 1.5; }
    .banner-m > .title--sub {
      margin-bottom: 1.2rem; }

.intro__list {
  position: relative;
  margin: 0 12%;
  font-size: 0;
  box-shadow: 0 0 0 1px #00cd00; }
  .intro__listItem {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: 20%; }
    .intro__listItem:first-child, .intro__listItem:nth-child(2) {
      margin-bottom: 12rem; }
    .intro__listItem:nth-child(2), .intro__listItem:nth-child(4) {
      text-align: left;
      margin: 0;
      margin-left: 20%; }
    .intro__listItem > .title {
      color: #25a2c3;
      margin-bottom: 1.8rem; }
    .intro__listItem > p {
      font-size: 1.5rem;
      color: #767d85; }
    .intro__listItem.img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40%;
      margin: auto; }
      .intro__listItem.img > .img-box {
        text-align: center;
        height: 100%; }
        .intro__listItem.img > .img-box > img {
          height: 100%;
          vertical-align: middle;
          object-fit: cover;
          border-radius: 50%; }

.photos {
  margin: 0 12%;
  font-size: 0; }
  .photos__card {
    display: inline-block;
    width: 30%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3); }
    .photos__card + .photos__card {
      margin-left: 5%; }
    .photos__card__img-box > img {
      object-fit: contain;
      vertical-align: middle;
      width: 100%; }
    .photos__card-txt {
      padding: 3rem 1.8rem; }
      .photos__card-txt__title {
        color: #25a2c3;
        margin-bottom: 1.8rem; }
      .photos__card-txt__article {
        font-size: 1.5rem;
        color: #767d85;
        line-height: 1.5; }

.footer {
  padding: 6rem 0;
  color: #fff;
  background: #25a2c3;
  text-align: center; }
  .footer__concat {
    font-size: 0;
    margin: 0 12%; }
    .footer__concat::after {
      content: '';
      display: block;
      height: 0;
      padding: .05rem 0;
      background: #fff;
      margin: 4.5rem 12%; }
    .footer__concat__item {
      display: inline-block;
      width: 33%;
      text-align: left;
      font-size: 1.5rem;
      vertical-align: top; }
      .footer__concat__item::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1.5rem;
        color: #f6755e;
        margin-right: 1.2rem; }
      .footer__concat__item.phone::before {
        content: "\f095"; }
      .footer__concat__item.email::before {
        content: "\f0e0"; }
      .footer__concat__item.location::before {
        content: "\f041"; }
  .footer__copyright {
    font-size: 1.2rem; }
  @media only screen and (max-width: 1200px) {
    .footer__concat {
      margin: 0 6%; } }
