.section-tours__card {
    width: $width-flexitem-1-of-3;
    // transform-style: preserve-3d;

    perspective: 150rem;
    -webkit-perspective: 150rem;
    -moz-perspective: 150rem;
    
    &--fount {
        font-size: 2.4rem;
        color: #fff;
        background-color: blue;
        height: 33rem;
        transition: all 0.9s;
        // backface-visibility: hidden;
    }
    &--fount:hover {
        transform: rotateY(180deg);
    }
}