html {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    font-size: 62.5%;
}

:root {
    overflow-x: hidden;
    overflow-y: auto;
    body {
        position: absolute;
    }
}

body {
    width: 100vw;
    overflow:hidden;
}

.body-container {
    padding: 0 3%;
}

strong {
    font-weight: 900;
}

