.u-margin-b {
    &-big {
        margin-bottom: 3.6rem;
    }
    &-mid {
        margin-bottom: 3rem;
    }
    &-s {
        margin-bottom: 2.4rem;
    }
    &-ss {
        margin-bottom: 1.8rem;
    }
}