.heading-primary {
    font-size: 12rem;
    font-weight: bold;
    
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
}
.heading-secondary {
    font-size: 5.1rem;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
}