body {
    padding: 0;
    /* margin: 0; */
}
h1 {
    font-size: 100px;
    color: khaki;
    text-align: center;
    background-image: url("/image/pattern.jpeg");
}
h1,h2,h3,a {
    font-family: Helvetica;
    font-weight: bold;
}
.mediumseagreen {
    background-color: mediumseagreen;
}
.lightcoral {
    background-color: lightcoral;
}
.skyblue {
    background-color: skyblue;
}
h2 {
    font-size:32px;
    color: white;
}
a {
    color: blue;
}

