.u-margin-bottom-big {
    margin-bottom: 6rem;
}
.u-margin-bottom-mid {
    margin-bottom: 4.5rem;
}
.u-margin-bottom-small {
    margin-bottom: 3rem;
}
.u-margin-bottom-smaller {
    margin-bottom: 1.5rem;
}