@import "base/base";
@import "base/typography";
@import "base/utilities";


@import "components/button";
@import "components/title-img";


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffcc00;
    padding: 3rem;


    &__logo {
        display: inline-block;
        margin-left: 24rem;
        font-size: 2.7rem;
        font-weight: 800;
        a {
            color: #000;
        }
    }
    &-nav {
        display: inline-block;
    }
    &__list {
        font-size: 0;
    }
    &__item {
        display: inline-block;
        font-size: 2.1rem;
    }
    &__link {
        &:link,
        &:visited {
            // box-shadow: 0 0 0 1px #ff0000;
            padding: 1.2rem 3rem;
            text-decoration: none;
            color: #000;

            transition: all .6s;
        }
        &:hover,
        &:active {
            color: #0000ff;
        }
    }
    &__phone {
        display: inline-block;
        margin-left: 15rem;
        font-size: 2.7rem;
        color: #000;
    }
}

.body {
    // width: 960px;
    // height: 1800px;
    // margin: 7.5rem auto 0;
    // box-shadow: 0 0 0 1px #ff0000;
    // background-image: url('../img/photo-test2.jpg');
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center center;
    // background-position: center bottom;
    // background-size: 50%;
}
.title {
    width: 100%;
    // height: 300px;
    // box-shadow: 0 0 0 1px #ff0000;
    padding: 12rem 0;
    margin: 8.1rem auto 0;
    background-image: url('../img/title.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0%;
    background-size: cover;

    &__wrap {
        // display: inline-block;
        margin: 0 0 3rem 24rem;
    }
    &__text-box {
        margin: 3rem 0 9rem;
        text-transform: uppercase;
        color: #fff;
    }
    
    &__info {
        font-size: 1.8rem;
        margin-bottom: 1.2rem;
    }
    &__phone {
        font-size: 6rem;
    }
}

.section {
    padding: 6rem 0;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
.service {
    background-color: #0066ee;
    padding: 6rem 0;
    text-align: center;
    font-size: 0;
    color: #fff;

    &__wrap {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;

        // display: flex;
        // justify-content: center;
        // box-shadow: 0 0 0 1px #ff0000;
    }
    &__item {
        font-size: 1.5rem;
        width: 240px;
        display: inline-block;
    }

    &__logo {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin: 0 auto 1.2rem;
        // margin-bottom: 1.2rem;
    }
    // &__intro {
    //     font-size: 1.2rem;
    // }
    &__link{
        &:link,
        &:visited {
            font-size: 1.8rem;
            text-decoration: none;
            color: #eeee00
        }
    }
}

.who {
    color: #fff;
    text-align: center;
    &__title {
        color:#eeee00;
        text-transform: uppercase;
    }
    &__intro {
        font-size: 1.8rem;
    }
}

.customer {
    background-color: #fff;
    h1 {
        text-align: center;
        color: #003366;
    }
    .group {
        position: relative;
        // box-shadow: 0 0 0 1px #ff0000;
        margin-top: 6rem;
        width: 450px;

        // display: flex;
        // justify-content: space-between;
    }
    .wrap {
        position: absolute;
        top: -15px;
        left: -120px;
    }
    &__intro {
        font-size: 1.8rem;
    }
    &__link {
        &:link,
        &:visited {
            display: block;
            font-size: 1.5rem;
            text-decoration: none;
            color: #006699;
            text-align: right;
        }
    }
    &_1 {
        top: 21px;
        margin-left: 54%;
    }
    &_2 {
        margin-left: 15%;
    }
}

.contact {
    background-color: #004466;
    padding: 12rem 0;

    h1 {
        color:#00aaee;
        text-align: center;
        text-transform: uppercase;
    }
    .group {
        display: flex;
        justify-content: space-between;
        width: 960px;
        margin: 0 auto;
        padding: 1.5rem 0;
        // box-shadow: 0 0 0 1px #ff0000;
        height: 150px;
        color: #fff;
        h2 {
        text-transform: uppercase;
        }
    }

    &__info {
        font-size: 1.5rem;
    }

    .form {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        input {
            display: block;
            margin: 0 auto 1rem;;
            width: 520px;
            height: 30px;;
            &:last-child {
                height: 300px;
            }
        }
    }
}

.footer {
    background-color: #fff;
    padding: 3rem 0;
    text-align: center;

    &__info {
        font-size: 2.4rem;
    }
}
