* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #53fa99;
}
.cotainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 75%;
    height: 60px;
    background: #fff;
    box-shadow: 15px 12px 12px 0 gray;
    position: relative;
}
.blackbottom {
    /* width: 30px;    
    height: 60px; */
    position: absolute;
    border-bottom: 51px solid black ;
    /* border-left:51px solid #fff; */
    border-left: 51px solid transparent;
    transform: scale(0.9);
    right: -3px;
    bottom: -3px;
    /* border-left: 51px solid transparent; */
}