* {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-footer {

}
.footer-container {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    background: #036;
}
.footer-item {
    width: 21%;
    margin: 0 2%;
}
.list {
    font-size: 0;
}
.list-item {
    font-size: 15px;
    display: block;
    padding: 0 12px;
    margin: 30px 0;
}
.list-link:link,.list-link:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.footer-item h4 {
    position: relative;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 900;
    color: #fff;
}

.footer-item h4::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px;

    border: .3px solid #fff;
}