* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #4ffca5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#fcce4f,#4ffca5);
}
div {
    font-size: 48px;
    color: #fff;
}