.button {
    display: block;
    border-radius: 36px;
    border: none;

    color: $color-black;
    
    font-size: 21px;
    padding: .6rem 5.1rem;
    width: 260px;
    margin-bottom: .6rem;
    
    box-sizing: border-box;
}