.heading-primary {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.5;
}
.heading-secondary {
    font-size: 3rem;
    font-weight: 300;
}
.heading-tertiary,.heading-section {
    font-size: 1.8rem;
    letter-spacing: 2px;
}
.heading-section {
    text-transform: uppercase;
}
.heading-fourth {
    font-size: 1.5rem;
    font-weight: 600;
}

