.u-margin-bottom-small {
    margin-bottom: .3rem;
}
.u-margin-bottom-mid {
    margin-bottom: 1.2rem;
}
.u-margin-bottom-big {
    margin-bottom: 2.4rem;
}

.u-margin-top-mid {
    margin-top: 1.2rem;
}
.u-margin-top-small {
    margin-top: .6rem;
}

.u-color-p {
    color: $color-p;
}
.u-color-seciton {
    color: $color-intro-sec;
}