.btn {
    // base
    &:link,
    &:visited {
        display: inline-block;
        padding: 1.2rem 1.8rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: $color-black;
    }

    &-active {
        &:link,
        &:visited {
            position: relative;
            padding: .9rem 1.5rem;
            color: $color-primary;
            border: 1px solid;
            
            overflow: hidden;
            transition: color .15s linear,
                        background-color .15s 0s linear,
                        transform .15s .15s linear;
        }
        &:hover {
            color: $color-white;
            border-color: transparent;
            background: $color-primary;
            box-shadow: 6px 6px 9px rgba($color-primaryShadow,1);
            transform: translate(-6px,-6px);
        }
        
        &::after {
            content: '';
            position: absolute; left: -1px; right : -1px; top: -1px; bottom: -1px;
            z-index: -1;
            background: $color-primary;
            transform: translateX(-100%);
            transition: all .15s linear;
        }
        &:hover::after {
            transform: translateX(0);
        }
    }


    &-promotion {
        &:link,
        &:visited {
            border: solid;
            font-size: 1.5rem;
            color: $color-white;
            letter-spacing: .6px;
            padding: .9rem 2.4rem;
        }
        &:hover {
            background: $color-white;
            color: $color-primary;
        }
    }
}
