.footer {
    padding: 9rem 12% 0 12%;
    background: $color-footerbk;
    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 9rem;
    }
    &__logo {
        float: left;
        margin-right: .6rem;
        > img {
            object-fit: cover;
            vertical-align: top;
            height: 5.1rem;
        }
    }

    &__list {
        width: 60%;
        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }

    &__nav {
        padding: 1.2rem 0;
        font-size: 0;
        li {
            position: relative;
            display: inline-block;
            > a {
                &:link,&:visited {
                    text-decoration: none;
                    color: $color-footerNav;
                    font-size: 1.5rem;
                    display: inline-block;
                    margin: 0 .6rem;
                }
            }
            > nav {
                position: absolute; top: 100%; left: 0; right: 0;
                margin-top: 1.5rem;
                text-align: center;

                > .icon {
                    display: block;
                    margin-bottom: 1.2rem;
                    img {
                        object-fit: cover;
                        vertical-align: middle;
                    }

                    .social {
                        height: 3.2rem;
                    }
                    .app {
                        width: 9.9rem;
                    }
                }
            }    
        }
    }

    &__server {
        width: 39%;
        text-align: right;
        margin-right: 3%;

        &__txt {
            color: $color-text;
            display: inline-block;
            text-align: left;
            padding-right: 2.4rem;

            > .title {
                margin-bottom: 1.5rem;
            }
            > span {
                font-size: 1.5rem;
                display: block;
                padding: .3rem 0;

                span {
                    color: $color-black;
                }
            }
        }
    }

    &__copyright {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        padding: 3rem 0;
        color: $color-text;

        &::before {
            content: '';
            display: block;
            height: 0;
            padding: .6px 12%;
            margin: 1.8rem;
            background: $color-text;
        }
    }


    // login footer
    &--login {
        padding: 0 33%;
        display: flex;
        align-items: center;

        img {
            height: 4.2rem;
            vertical-align: middle;
        }

        &__nav {
            flex-grow: 6;
            font-size: 0;
            > a {
                &:link,
                &:visited {
                    position: relative;
                    display: inline-block;
                    padding: 0 calc((100% - 152px) / 6);
                    text-decoration: none;
                    color: $color-text;
                    font-size: 1.5rem;
                }
            }
        }

        
        &__item {
            & + &::before {
                content: '';
                position: absolute;
                top: 0; bottom : 0; left: 0;
                width: 0;
                padding: 0 .01rem;
                background: $color-black;
            }
        }

        > p {
            flex-grow: 1;
            text-align: right;
            font-size: 1.5rem;
        }
    }
}