.homeActiveIntro {
    &__tagList {
        display: flex;
        box-shadow: 0 0 0 1px $color-primary;
        margin-bottom: 3rem;
    }

    &__tag {
        position: relative;
        flex-grow: 1;
        text-align: center;
        padding: 1.5rem 0;
        font-size: 1.5rem;
        color: $color-primary;
        cursor: pointer;
        transition: color .15s linear;

        > span {
            position: relative;
            z-index: 1;
        }

        &.choose,
        &:hover {
            color: $color-white;
            padding: .75rem 0 1.5rem 0;
            &::after {
                content: '';
                position: absolute;
                left: -1px; right: 1px ; top: -1.5rem; bottom :0;
                border-radius: 12px 12px 0 0;            
                background: $color-primary;
            }
        }
    }
}