.login {
    padding: 9rem 36%;
    &--forget {
        margin-top: 6rem;
    }
    &-container {
        min-width: 32rem;
        // padding-top: 3rem;
        padding: 3rem 0;
        background: $color-loginbk;

        &--sign {
            padding: 1.2rem 0;
        }
    }

    &__title {
        text-align: center;
    }
    &__subtitle {
        font-size: 1.5rem;
        font-weight: 400;
        text-align: left;
        margin-bottom: 3rem;

        &.textCenter {
            text-align: center;
        }

        &--icon {
            &::after {
                content: '';
                display: inline-block;
                margin-left: .6rem;
                vertical-align: middle;
                background: url("../../img/status-success.svg") no-repeat left top / contain;
            }

            &.capchaSend {
                &::after {
                    width: 1.5rem;
                    height: 1.5rem;
                    background: url("../../img/status-success.svg") no-repeat left top / contain;
                }
            }

            &.capchaError {
                &::after {
                    width: 1.5rem;
                    height: 1.5rem;
                    background: url("../../img/status-error.svg") no-repeat left top / contain;
                }
            }
        }
    }

    &__btn {
        &:link,&:visited {
            display: block;
            padding: .9rem 0;
            background: $color-primary;
            text-align: center;
            text-decoration: none;
            color: $color-white;
            font-size: 1.5rem;
            border-radius: 3px;
        }
        &--social {
            &:link,
            &:visited {
                background: $color-primaryDark;
            }
        }
        
        &--sign {
            margin-bottom: 1.2rem;
        }

        &--forget {
            &:link,
            &:hover {
                padding: 1.5rem 0;
            }
            // margin: 6rem 0;
            // margin-bottom: 0;
        }
        
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-primary;
            font-size: 1.2rem;
        }
    }

    &__notice {
        font-size: 1.2rem;
        padding: 3rem 0;
        color: $color-text;
        line-height: 2.1;

        &--forget {
            font-size: 1.5rem;
            line-height: 1.5;
            text-align: left;
            padding: 3rem 12%;
        }

        &--upline {
            &::before {
                content: '';
                display: block;
                height: 0;
                padding: .3rem 0;
                background: $color-white;
                margin-bottom: 3rem;
            }   
        }

        > span {
            display: block;
            padding: 0 12%;
            // &:not(:last-child) {
            //     margin-bottom: 1.8rem;
            // }
        }
    }

    &__form {
        // padding: 3rem 12% 0;
        // padding: 3rem 0 0;
        padding-top: 3rem;
        margin: 0 12%;
        margin-bottom: 1.2rem;
        text-align: center;
        &__input {
            display: block;
            // width: calc(100% - 9px);
            width: 100%;
            max-width: calc(100% - 12px);
            border: none;
            border-radius: 3px;
            padding: .9rem 0 .9rem 1.2rem;
            margin-bottom: .9rem;

            box-shadow: 0 0 0 1px #000;

            &:focus {
                outline: none;
            }
        }


        &__remember {
            float: left;
            // display: inline-block;
            cursor: pointer;
            font-size: 1.2rem;
            // padding: .3rem ;

            > span {
                position: relative;
                display: inline-block;
                font-size: 0;
                width: 1.2rem;
                height: 1.2rem;
                box-shadow: 0 0 0 .5px $color-black;
                border-radius: 50%;
                margin-right: .6rem;

                &::after {
                    content: '';
                    // position: absolute; top: .21rem; bottom : .21rem; left: .21rem; right: .21rem;
                    position: absolute; top: .75px;bottom: 0; right: .3px; left: 0;
                    margin: auto;
                    width: 0.81rem;
                    height: 0.81rem; 
                    border-radius: 50%;
                }
            }

            &Checkbox {
                display: none;

                &:checked  + label > span {
                    &::after {
                        background: $color-text;
                    }
                }
            }

            + .wrap {
                overflow: hidden;
                text-align: right;

                &::after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
        }

        &__submit {
            display: block;
            margin-top: 2.7rem;
            width: 100%;
            padding: .9rem 0;
            font-size: 1.5rem;
            color: $color-white;
            background: $color-primary;
            border: none;
            border-radius: 3px;
            margin-bottom: .9rem;
            cursor: pointer;
        }   



        //    or
        // new guest

        > span, > span + a {
            display: block;
            margin: 2.4rem 0;
            font-size: 1.2rem;
            &:link,
            &:visited {
                font-size: 1.5rem;
            }
        }


        // sign form 
        &--sign {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;;

            .sign__input {
                box-shadow: none;

                &Label {
                    position: relative;
                    display: block;
                    &.error {
                        &::after {
                            content: '';
                            position: absolute; top: 0; bottom :0; right: .9rem;
                            padding: .75rem;
                            background: url("../../img/status-error.svg")no-repeat left center / 1.5rem;
                        }

                        > input {
                            &::-webkit-input-placeholder,
                            &::placeholder {
                                color: $color-error;
                            }
                        }
                    }
                }
            }

            .sign__notice {
                padding: 0;
            }

            .sign__submit {
                margin: 4.5rem 0;
            }
        }
    }
    
    &--sign__errorMessage {
        position: relative;
        text-align: center;
        color: $color-error;
        background: $color-errorbk;
        font-size: 1.5rem;
        padding: .6rem 0;
        min-width: 32rem;

        &::after {
            content: '';
            position: absolute; top: 0; bottom :0; right: 0; left: 18rem;
            margin: auto;
            width: 1.5rem;
            height: 1.5rem;
            background: url("../../img/status-error.svg")no-repeat left center / 1.5rem;
        }
    }


    &__selectGroup {
        display: flex;
        text-align: left;
        margin: 2.1rem 0;
        

        &__icon {
            > img {
                object-fit: cover;
                vertical-align: middle;
                width: 2.1rem;


            }
        }

        &Wrap {
            flex-grow: 1;
            margin-left: 1.2rem;
            font-size: 1.5rem;
            
            &--sign {
                position: relative;
                margin-left: 0;
                max-width: 48%;
                margin: auto;

                background: $color-white;

                > p {
                    padding: .9rem 0;
                    margin-left: 1.2rem;
                }
            }

            &--email {
                position: relative;

                &.open {
                    box-shadow: 0 0 0 7.5px $color-white,
                                0 -3px 0 7.5px $color-white;
                    > p {
                        background: $color-white;
                    }
                }

                > ul {
                    &.open {
                        left: -7.5px; right: -7.5px;
                    }
                }
            }

            > P {
                line-height: 1.5;
            }

            // &.open {
                
            //     box-shadow: 0 0 0 7.5px $color-white,
            //                 0 -3px 0 7.5px $color-white;
            //     > p {
            //         background: $color-white;
            //     }
            // }



            > ul {
                display: none;
                position: absolute; top : 100%; left: 0; right: 0;
                background: $color-white;
                padding: .9rem 0;
                &.open {
                    display: block;
                    // left: -7.5px; right: -7.5px;
                }
            }

        }

        &__list {
            &Item {
                position: relative;
                padding: .6rem .3rem;
                margin: 0 4.5px;
                cursor: pointer;
                background: $color-white;

                &:not(:last-child) {
                    margin-bottom: .6rem;
                }
                &:hover {
                    background: rgba($color-primary,.3);
                }
            }
        }

    }


    // capcha 驗證碼

    &__capcha {
        // capcha input
        font-size: 1.5rem;
        padding: .9rem 1.2rem;
        width: 100%;
        max-width: calc(100% - 11.1rem);
        margin-left: .6rem;
        border: none;
        &:focus {
            outline: none;
        }
        // label
        &Label {
            // box-shadow: 0 0 0 1px #cd0000;
            font-size: 1.5rem;
            text-align: left;
            &--block {
                display: block;
            }
        }

    }


}