body {
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.heading-primary {
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 3rem;
    font-weight: 700;
    
    color: transparent;
}

.heading-secondary {
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: 1.2rem;
    
    color: $color-primary-dark;
    font-weight: 600;
}
.heading-tertiary {
    font-size: 3.6rem;
    letter-spacing: .6rem;  
    font-weight: 600;
}
.heading-fourth {
    font-size: 2.7rem;
    letter-spacing: .6rem;
    font-weight: 600;

    margin-left: 1.5rem;
}