.u-margin-bottom-small {
    margin-bottom: 2.1rem;
}
.u-margin-bottom-p {
    margin-bottom: .9rem;
}
.u-margin-top-small {
    margin-top: 2.1rem;
}

.u-color-primary-dark {
    color: $color-primary-dark;
}