.u-margin-bottom-small {
    margin-bottom: 2.1rem;
}
.u-margin-bottom-p {
    margin-bottom: .9rem;
}
.u-margin-top-small {
    margin-top: 2.1rem;
}

.u-color-primary-dark {
    color: $color-primary-dark;
}
.u-color-red {
    color: #f00;
}
.u-color-white {
    color: #fff;
}

.u-text-indent-p,.u-text-indent-code2 {
    text-indent: 30px;
}
.u-text-indent-code {
    text-indent: 15px;
}
.u-text-indent-code3 {
    text-indent: 45px;
}