.section-title {
    width: 960px;
    margin: 1.5rem auto 0;
    outline: 1px solid $color-white;
    box-shadow: 0 1px 3px 0 $color-black;
    background-color: rgb(233, 233, 233);
    @include clearfix;
}

.section-intro {
    position: relative;
    width: 100%;
    background-color: #eeeeee;
    margin: 0 auto;
    border-bottom: 1px solid $color-white;
}

.section-whose {
    border-bottom: 3px solid $color-white;
}