.heading-primary {
    font-size: 7.5rem;
    letter-spacing: .3rem;
}
.heading-secondary {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}