* {
    padding:0;
    margin:0;
    list-style: none;
}

html,body {
    width: 100%;
}
body {
    height: 100vh;
    display: flex;
}

.BicycleWrap {
    margin: auto;
}


.bicycle {
    position: relative;
}
.bicycle-wheel {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    
    border: 6px solid #000;

    background-size: 120px 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,#ccc 0%,#ccc 100%);

    animation: wheel 1s infinite linear;
}
.bicycle-wheel--back {
    top:51px;
    left: -108px;
}
.bicycle-wheel--front {
    right: -42px;
    top: 51px;
}
.bicycle-wheel__point {
    /* width: 30px;
    height: 30px; */
    width: 12px;
    height: 12px;
    border: 12px solid #333;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
    /* top: 45px;
    left: 45px; */
}

/* 
.bicycle-wheel--point {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 9px solid #333;
    border-radius: 50%;
    background: #fff;
    transform: translate(45px,45px);
} */


.bicycle-wheel::after,
.bicycle-wheel::before {
    content: '';
    position: absolute;
    width: 15px;
    top: .6px;
    bottom: .6px;
    left: 0;
    right:0;
    margin: 0 auto;
    z-index: -1;
    transform-origin: 50% 50%;
    transform: rotate(30deg);
    background: #ccc;
}
.bicycle-wheel::before {
    transform: rotate(-30deg);
}

.bicycle-body {
    width: 360px;
    height: 108px;
    background-repeat: no-repeat;
    background: linear-gradient(90deg,#fff 0%,#fff 60%,#cd0000 60%,#cd0000 66%,#fff 66%,#fff 100%);
    box-shadow: 0 0 0px 15px #cd0000;
    position: relative;
    transform: skew(-30deg);
}
.bicycle-body::after {
    content: '';
    position: absolute;
    top: -18px;
    right: -18px;
    /* width: 0; */
    /* height: 0; */
    border-top: 72px solid #fff;
    border-right: 72px solid #fff;
    border-left: 72px solid transparent;
    border-bottom: 72px solid transparent;
    z-index: 1;
}
.bicycle-body::before {
    content: '';
    position: absolute;
    right: 120px;
    bottom: -15px;
    width: 21px;
    height: 300px;
    z-index: 2;

    transform: skew(45deg);
    background: #cd0000;
}
@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
