* {
    padding: 0;
    margin: 0;
}
html {
  font-family: 'Noto Sans TC', sans-serif;
}
body {
   

}
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primary-main {
    font-size: 120px;
    font-weight: 900;
    /* text-shadow: 6px 6px 15px rgba(0,0,0,.75); */
}