*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #afafafb6; }

strong {
  font-weight: 700;
  font-size: 2.4rem; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

.heading-primary {
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 3rem;
  font-weight: 700;
  color: transparent; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 1.2rem;
  color: #ee711d;
  font-weight: 600; }
  .heading-secondary--javascript {
    color: #009999; }

.heading-tertiary {
  font-size: 3.6rem;
  letter-spacing: .6rem;
  font-weight: 600; }

.heading-fourth {
  font-size: 2.7rem;
  letter-spacing: .6rem;
  font-weight: 600;
  margin-left: 1.5rem; }

.heading-fifth {
  font-size: 2.1rem;
  letter-spacing: .3rem;
  font-weight: 600;
  margin-left: 2.7rem; }

.u-margin-bottom-small {
  margin-bottom: 2.1rem; }

.u-margin-bottom-p {
  margin-bottom: .9rem; }

.u-margin-top-small {
  margin-top: 2.1rem; }

.u-color-primary-dark {
  color: #ee711d; }

.u-color-red {
  color: #f00; }

.note-box {
  padding: 40px; }

.note__title {
  width: 100%;
  text-align: center;
  border-bottom: 0.9px solid #777; }

.note__list {
  list-style: none;
  margin-left: -30px; }

.note__item {
  display: block;
  padding: .3rem 1.2rem; }

.note__time {
  display: inline-block;
  width: 7.2rem; }

.note__style {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin-top: .3rem; }
  .note__style-htmlcss {
    background-color: #ffa632; }
  .note__style-javascript {
    background-color: #00aaaa; }

.note__date {
  display: inline-block;
  font-size: 1.5rem; }
  .note__date-htmlcss {
    color: #ee711d; }
  .note__date-javascript {
    color: #00aaaa; }

.note__link:link, .note__link:visited {
  text-decoration: none;
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  font-size: 2.1rem; }

.note__link:hover, .note__link:active {
  color: rgba(0, 0, 0, 0.6); }

.note__content {
  word-break: break-all;
  max-width: 100%;
  font-size: 1.65rem;
  font-weight: 300;
  line-height: 2.1rem; }

.note__img-box {
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem; }

.note__codepen:link, .note__codepen:visited {
  display: inline-block;
  padding: .9rem 1.2rem;
  border: 0.9px solid #000;
  border-radius: 3px;
  text-decoration: none;
  font-size: 2.1rem;
  letter-spacing: .3rem;
  color: rgba(0, 0, 0, 0.3);
  transition: all .45s; }

.note__codepen:hover {
  border-color: transparent;
  box-shadow: 0.9px 1.5px 9px 0 rgba(0, 0, 0, 0.6);
  color: #000;
  background-color: #ccccce; }

.note__point-list {
  list-style: initial;
  margin-left: 1.5rem; }

.note__point {
  padding: .6rem;
  font-weight: 600; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  position: fixed;
  top: 2.4rem;
  right: 2.4rem;
  border-radius: 50%;
  box-shadow: 0 0.6rem 1.5rem 0 rgba(0, 0, 0, 0.45);
  width: 7.5rem;
  height: 7.5rem;
  background-color: #fff;
  z-index: 500;
  cursor: pointer; }

.navigation__icon {
  position: relative;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 3.3rem;
    height: 3px;
    background-color: #000; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all .3s; }
  .navigation__icon::before {
    top: -.9rem; }
  .navigation__icon::after {
    top: .9rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.2rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.2rem; }

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 400;
  opacity: 0;
  width: 0;
  visibility: hidden;
  transition: all .9s; }

.navigation__background {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 6rem;
  height: 6rem;
  background: radial-gradient(#f3862d, #ee711d);
  border-radius: 50%;
  z-index: 300;
  transition: all .6s; }

.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation__item {
  display: block;
  font-size: 3.6rem;
  margin-bottom: 2.7rem;
  text-align: right; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: .9rem 1.2rem;
  color: #fff;
  letter-spacing: .3rem;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 300%;
  transition: all .6s; }

.navigation__link:hover, .navigation__link:active {
  color: #f3862d;
  background-position: 100%;
  transform: translateX(1.2rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  visibility: visible; }

.home-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3862d;
  border-radius: 50%;
  width: 36rem;
  height: 36rem;
  box-shadow: 0 0 3.6rem 1.2rem rgba(255, 255, 255, 0.6);
  border: 1.5px solid #ffa632; }
  .home-box__list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .home-box__item {
    display: block;
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 1.5rem; }
  .home-box__link:link, .home-box__link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff; }

.header {
  position: relative;
  height: 9rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(120deg, #d84878, #b8305d, #f3862d, #ee711d);
    background-clip: text;
    -webkit-background-clip: text; }
    .header__text-box--javascript {
      background: linear-gradient(120deg, #d84878, #b8305d, #00aaaa, #00e9e9);
      background-clip: text;
      -webkit-background-clip: text; }
    @media only screen and (max-width: 1120px) {
      .header__text-box {
        text-align: center; } }

.home {
  width: 100%;
  height: 100vh; }

.note-box {
  width: 60%;
  margin: 0 auto;
  background: rgba(216, 216, 216, 0.714);
  box-shadow: 0 0 0.9rem 0.6rem rgba(0, 0, 0, 0.45);
  border-radius: 3px; }

.note-container {
  width: 100%;
  padding: 1.2rem; }
