@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";


@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";


@import "components/button";
@import "components/composition";
@import "components/featurebox";


@import "layouts/header";
@import "layouts/flex";


@import "pages/home";







/* .circle {
    width: 100px;
    height : 100px;
     border-radius: 50%; 
    background: #fff;
    clip-path: circle(50% at 50% 50%);  /*circle(半徑 at 圓心)
} */