.commodity {
    &__container {
        &-txt {
            padding: 180px 0 90px;
            background: $color-primary;
        }
        &-intro {
            // box-shadow: 0 0 0px 3px #cd0000;
            overflow: hidden;
            background: #fff;
            // position: relative;
        }
    }

    &__txt {
        max-width: 600px;
        margin: 0 auto;
        color: #fff;
        text-align: center;

        p {
            font-size: 21px;
            line-height: 1.5;
            margin: 15px 0;
            color: rgba(255,255,255,.75);
        }
    }

   
    
    &__tabList {
        // border: 1px solid #cd0000;
        padding: 0 15%;
        overflow: hidden;
        position: relative;
        &-tab {
            width: 33%;
            float: left;
            padding: 30px 0;
            // box-shadow: 0 0 1px #000;
            position: relative;
            text-align: center;
            font-size: 18px;
            color: #fff;
            background: $color-primary;
            &:nth-child(1) {
                background: $color-primary;
                color: #fff;
            }
            span {
                user-select: none;
                font-size: 24px;
            }


          
        }

        &-label {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            cursor: pointer;
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: $color-primary;
            z-index: 0;

        }

    }

    &__content-group {
        position: relative;
        padding: 270px 0;
    }

    &__content {
        padding: 90px 15%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left:0;

        /* animation */
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s 1s;

        /* 有效果，但做出來似乎沒有，試著快出慢進，或是用animation*/
        /*用了content與txt-wrap、img-box的transition不同，做出效果，但有BUG，快速切換的時候上一個tab還沒有效果，試想*/
        /*●可以用js來解決，切換tab幾秒內不能夠切換*/



        /* flex */
        display: flex;

        &__txt-wrap {
            width: 0;
            flex: 1;
            position: relative;

            transition: all .15s;
            opacity: 0;

            /*  flex */
            display: flex;
            flex-direction: column;
            
            &:nth-child(1) {
                margin-right: 45px;
                padding-right: 60px;
                text-align: right;
            }
            &:last-child {
                margin-left: 45px;
                padding-left: 60px;
            }


        }

        &__txt-wrap::before {
            content: '';
            position: absolute;
            left:0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;

            height: 0;
            border-top: 1px solid #ccc;
        }
        &__txt-wrap:first-child::before {
            right: 60px;
        }
        &__txt-wrap:last-child::before {
            left: 60px;
        }


        &-txt {
            font-size: 15px;
            margin: auto;
            // position: relative;

            p {
                margin: 15px 0;
            }
        }
        // &-txt + &-txt::before {
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     right: 0;
            // top: -50%;

            // height: 1px;
            // background: #ccc;

            // height: 0;
            // border-top: 1px solid #ccc;
        // }

        &__img-box {
            width: 270px;
            height: 270px;
            flex-shrink: 0;
            margin: auto;
            
            border-radius: 50%;
            overflow: hidden;

            transition: all .15s;
            opacity: 0;
        }
        &__img {
            width: 100%;
            height: auto;
            vertical-align: middle;
            object-fit: cover;
        }
    }


    &__radio{
        display: none;

        &-one {
            &:checked ~ .commodity__tabList{
                .commodity__tabList-tab:nth-child(1) {
                    background: #fff;
                    color: $color-primary;
                }
            }
            &:checked ~ .commodity__content-group {
                .commodity__content:nth-child(1) {
                    visibility: visible;
                    opacity: 1;
                    .commodity__content__txt-wrap {
                        opacity: 1;
                    }
                    .commodity__content__img-box {
                        opacity: 1;
                    }
                }
            }
        }
        &-two {
            &:checked ~ .commodity__tabList{
                .commodity__tabList-tab:nth-child(2) {
                    background: #fff;
                    color: $color-primary;
                }
            }
            &:checked ~ .commodity__content-group {
                .commodity__content:nth-child(2) {
                    visibility: visible;
                    opacity: 1;
                    .commodity__content__txt-wrap {
                        opacity: 1;
                    }
                    .commodity__content__img-box {
                        opacity: 1;
                    }
                }
            }
        }
        &-three {
            &:checked ~ .commodity__tabList{
                .commodity__tabList-tab:nth-child(3) {
                    background: #fff;
                    color: $color-primary;
                }
            }
            &:checked ~ .commodity__content-group {
                .commodity__content:nth-child(3) {
                    visibility: visible;
                    opacity: 1;
                    .commodity__content__txt-wrap {
                        opacity: 1;
                    }
                    .commodity__content__img-box {
                        opacity: 1;
                    }
                    
                }
            }
        }
    }

}