* {
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    height: 100vh;
    background: #ccc;
    display: flex;
}
.menu {
    width: 960px;
    margin: auto;
}
.nav {
    font-size: 0;
    display: flex;
    justify-content: center;
}
.nav >　li {
    position: relative;
}
.nav > li:hover ul {
    opacity: 1;
    display: block;
}
.nav li {
    font-size: 0;
    display: block;
    text-align: center;
    background: #999;
    border: 1px solid #000;
}
.nav > li + li {
    border-left: 0;
}
.list-link:link,.list-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding: 12px 60px;
}
.list-link:hover {
    background: #333;
}

.nav-2 {
    display: none;
    position: absolute;
    /* left: 0; */
    opacity: 0;
}
.nav-2 li {

} 