* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    height: 100vh;
    background: #aaa;
    
    /* display: flex; */
}


.menu-button {
    display: block;
    /* position: fixed;
    top: 15px;
    right: 15px; */
    
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #036;
    text-align: center;
    
    
    cursor: pointer;
    
    
    position: absolute;
    right: -60px;
    bottom: 0;
    top: 0;
    margin: auto 0;
}
.menu-button i {
    font-size: 24px;
    line-height: 60px;
    color: #fff;
    transform: rotate(0deg);
}
input[type="checkbox"] {
    display: none;
    width: 0;
    height: 0;
}
input[type="checkbox"]:checked ~ .side-menu{
    /* background: #fff; */
    /* display: block; */
    /* left: 0; */
    opacity: 1;
    transform: translateX(0);
}
input[type="checkbox"]:checked ~ .side-menu .menu-button i {
    transform: rotate(180deg);
}

.side-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg,#036,#306);
    padding: 54px 0px;
    /* padding: 54px 0; */

    /* left: -270px; */
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
    box-shadow: 12px 12px 12px 0 rgb(30, 0, 70,.6);
}
.side-menu form {
    /* display: flex; */
    /* justify-content: center; */

    text-align: center;
    font-size: 0;

    margin-bottom: 45px;
}
.side-menu input[type="search"],.side-menu form button {
    display: inline-block;
    border: none;
    background: transparent;
    padding: 6px 12px;
    color: #fff;
}
.side-menu input[type="search"] {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 12px 0 0 12px;
}
.side-menu input[type="search"]:focus {
    outline: none;
}
.side-menu form button {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 12px 12px 0;
}
.side-menu form {
    padding: 0 30px;
}
.nav-first .list-item > a:link,.nav-first .list-item> a:visited {
    display: block;
    padding: 15px 51px;
    

    text-decoration: none;
    color: #fff;
    font-size: 21px;
    /* border-bottom: 1px solid #fff; */
    /* background: #fff; */

    overflow: hidden;
    position: relative;
}
.nav-first .list-item:hover > a {
    background: rgb(0, 30, 70,.6);
}
nav a:hover {
    /* background: #fff; */
}
.nav-first .list-item + .list-item > a::before {
    content: '';
    position: absolute;
    left:15px;
    right: 15px;
    border-bottom: 1px solid #fff;
    top: 0;
}
.nav-first .list-item:last-child > a{
    border-bottom: 0;
}
.nav-first .list-item > a i {
    /* font-size: 0; */
    transform: scale(0);
    margin-left: -16px;
    transition: all .3s;
}
.nav-first .list-item:hover > a i {
    /* font-size: 18px; */
    transform: scale(1);
    margin-right: 12px;
}

.list-item {
    position: relative;
}
.nav-twice {
    position: absolute;
    right: 0;
    left: 0;
    top: 15px;
    background: #ccc;
    box-shadow: 12px 12px 12px rgba(0,0,0,.6);
    transform: translateX(100%);


    z-index: 1;


    opacity: 0;
    display: none;
}
.nav-twice a:link,.nav-twice a:visited {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    padding: 12px 24px;
    border: 1px solid #fff;

}
.nav-twice a:hover {
    background: #999;
}

.nav-first .list-item:hover .nav-twice {
    display: block;
    opacity: 1;
}
