* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wrap {
    width: 100%;
}
.container {
    width: 50%;
}
.container::after {
    content: '';
    display: block;
    clear: both;
}
img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.one {
    float: left;
    background: #fa0;
}
.one .img-box {
    width: 100%;
}
.two {
    float: right;
    background: #036;
}
.two .img-box  {
    width: 50%;
    float: left;
}
