$color-white: #fff;
$color-black: #000;

$color-primary: #02bad3;
$color-primaryDark: #395590;
$color-primaryShadow: #00515c;
$color-text: #484848;

$color-footerNav: #7A7A7A;
$color-footerbk: #f4f4f4;

$color-loginbk: #f6f6f6;
