* {
    padding: 0;
    margin: 0;
    list-style:none;
}

.container {
    position: relative;
    width: 1200px;
    margin: auto;
}
.container .txt {
  
    column-count: 2;
    column-gap: 460px;
}
.container .txt p {
    line-height: 1.5;
    margin-bottom: 1em;
}
.container p::first-letter {
    font-size: 42px;
    /* float: left; */
    /* padding: 3px; */
}
.container h1{
    width: 400px;
    padding: 15px;
    box-sizing: border-box;
    background: #ccc;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
    text-align: center;

    display: flex;
    align-items: center;

}
