.note-box {
    width: 60%;
    // height: 51rem;
    margin: 0 auto;
    background: $color-note-background-dark;
    box-shadow: 0 0 .9rem .6rem rgba($color-black,.45);
    border-radius: 3px;
}

.note-container {
    width: 100%;
    padding: 1.2rem;

}