* {
    margin:0;
    padding:0;
    list-style: none;
}
html {
    overflow-y: scroll;
}
:root {
    overflow-x: hidden;
    overflow-y: auto;
}
:root body {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #666666;
}
.menuLink:link,
.menuLink:visited {
    text-decoration: none;
    text-align: center;
}
.heading-thread {
    font-size: 36px;
    font-weight: 600;
}